@import "tailwindcss";

@theme {
    --color-primary: #1E293B80;
    --color-secondary: #1a2436;
    --color-tag: #1E293BB2;
    --color-title: #D1D5DB;
    --color-subtitle: #D1D5DB;
    --color-text: #3B82F6;
    --color-texttag: #E5E7EB;
    --color-story: #0F172A;
    --color-images: #334155;
    --color-icon1:#3B82F633;
    --color-icon2: #A855F733;
    --color-icon3: #22C55E33;
    --color-texttag2: #4ADE80;
    --color-vision: #1E293B;
    --color-gradient1: #3B82F633;
    --color-gradient2: #A855F733;
}