@import "tailwindcss";

@theme {
    --color-primary: #1E293B80;
    --color-secondary: #1a2436;
    --color-tag: #1E293BB2;
    --color-title: #D1D5DB;
    --color-subtitle: #D1D5DB;
    --color-text: #3B82F6;
    --color-texttag: #E5E7EB;
    --color-story: #0F172A;
    --color-images: #334155;
}